<div class="center jumbotron">
	<h1>Welcome to Wynworld</h1>
	<h2>What user are you?</h2>
	<%= link_to "Admin Sign up!", '#', class: "btn btn-lg btn-primary" %>
	<%= link_to "Student Sign up!", '#', class: "btn btn-lg btn-primary" %>
</div>
